{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - About us{% endblock %}

{% block body %}
    <h1 class="text-center">About us</h1>
    <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda beatae excepturi natus non officia rerum? Assumenda at blanditiis deleniti distinctio, exercitationem, in natus quam quasi qui quisquam, sequi sit.
    </p>
{% endblock %}