{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    {% if app.user %}
        <h1 class="text-center">
            Hello {{ app.user.pseudo }}
        </h1>
    {% else %}
        <h1 class="text-center">
            Hello welcome to BucketList
        </h1>
    {% endif %}
{% endblock %}