{% extends 'base.html.twig' %}

{% block title %}BackOffice{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="text-center mt-2">Hello {{ app.user.pseudo }} do not abuse your rights </div>

{#    <ul>
        {% if is_granted("ROLE_SUPER_ADMIN") %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('') }}" title="BackOffice">Back Office</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_register') }}" title="Register">Register</a>
        </li>
    </ul>#}
</div>
{% endblock %}
