{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Add Wish{% endblock %}

{% block body %}
    <h1>Add Wish</h1>

    <div class="col-6 mx-auto">
        {{ form(wish_form , {attr: {'novalidate': 'novalidate'}}) }}
    </div>

{% endblock %}
